body, main {
    display: flex;
}

body {
    flex-direction: column;
}

main {
    flex-direction: row;
    flex: auto;
}

pre {
    background: #eee;
    font-family: Courier, 'New Courier', monospace;
    line-height: 2;
    margin-bottom: 1em;
    padding: 1em;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}